<!DOCTYPE html>
<html>
<head>
  <title>Greg's Challenge</title>
  <link rel="stylesheet" href="style.css">
  <meta charset="utf-8">
</head>
<body ng-app="mainApp" ng-controller="MainCtrl">     
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <form>

              <table id="tableHeader" ng-repeat="data in dataSheet track by $index" class="table table-striped table-bordered">
                <thead>
                  <h2>Data Sheet
                    <button type="Submit" class="submitData" ng-click="submitData(dataSheet)">Submit Data Sheet</button>
                    <button class="retrieveData" name="Fetch" ng-click="getData()">Retrieve Saved Data Sheet</button>               
                  </h2>
                  <tr>
                    <td>IP NAME</td>
                    <td>VERSION</td>
                    <td>NODE</td>
                    <td>FOUNDRY</td>
                    <td>CATEGORY</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="text" class="form-control" ng-model="data.ipname" placeholder="Enter ipname" required/></td>
                    <td><input type="text" class="form-control" ng-model="data.version" placeholder="Enter version"/></td>
                    <td><input type="text" class="form-control" ng-model="data.node" placeholder="Enter node"/></td>
                    <td><input type="text" class="form-control" ng-model="data.foundry" placeholder="Enter foundry"/></td>
                    <td><input type="text" class="form-control" ng-model="data.category" placeholder="Enter category"/></td>
                  </tr>
                  <tr>
                    <td colspan="5"><textarea rows="5" class="form-control" ng-model="data.description" placeholder="Enter description"></textarea></td>
                  </tr>
                </tbody>
              </table>

              <table ng-repeat="param in params track by $index" class="eParams">
                <thead>
                  <h2 class="eParamsHeader">Electrical Parameters</h2>
                  <tr class="eParamsHeaderRow">
                    <th colspan="2">PARAMETER<button ng-click="addParam(params, $index)">Add Parameter</button></th>
                    <th>NAME</th>
                    <th>PIN</th>
                    <th>MINIMUM (TARGET)</th>
                    <th>TYPICAL (TARGET)</th>
                    <th>MAXIMUM (TARGET)</th>
                    <th>UNITS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="2"><button ng-click="deleteParam($index)">Delete this Parameter</button></td>
                    <td><input type="text" class="form-control" ng-model="param.display" placeholder="Enter parameter name" required/></td>
                    <td><input type="text" class="form-control" ng-model="param.pin" placeholder="Enter PIN"/></td>
                    <td><input type="text" class="form-control" ng-model="param.min.target" placeholder="Enter Minimum (Target)"/></td>
                    <td><input type="text" class="form-control" ng-model="param.typ.target" placeholder="Enter Typical (Target)"/></td>
                    <td><input type="text" class="form-control" ng-model="param.max.target" placeholder="Enter Maximum (Target)"/></td>
                    <td><input type="text" class="form-control" ng-model="param.unit" placeholder="Enter Unit"/></td>
                  </tr>
                  <thead>
                    <tr class="conditionsHeader">
                      <th colspan="2">CONDITIONS<button ng-click="addCondition(param.display, params, param.conditions[$index])">Add Condition</button></th>
                      <th>NAME</th>
                      <th>PIN</th>
                      <th>MINIMUM</th>
                      <th>TYPICAL</th>
                      <th>MAXIMUM</th>
                      <th>UNIT</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="condition in param.conditions track by $index">
                      <td colspan="2"><button ng-click="deleteCondition(param.display, $index)">Delete this Condition</button></td>

                      <td><input type="text" class="form-control" ng-model="condition.display" placeholder="Enter Unit"/></td>
                      <td><input type="text" class="form-control" ng-model="condition.pin" placeholder="Enter Pin"/></td>
                      <td><input type="text" class="form-control" ng-model="condition.min" placeholder="Enter Min"/></td>
                      <td><input type="text" class="form-control" ng-model="condition.typ" placeholder="Enter Unit"/></td>
                      <td><input type="text" class="form-control" ng-model="condition.max" placeholder="Enter Max"/></td>
                      <td><input type="text" class="form-control" ng-model="condition.unit" placeholder="Enter Unit"/></td>
                    </tr>
                  </tbody>
                </tbody>
              </table>
            </form>
            <!-- Obviously we wouldn't leave this in a marketable product, but we are just showing the JSON object being captured -->
            <br><hr><br>
            {{ submitted }}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="angular.min.js"></script>
<script src="main.js"></script>
</html>